---
import Layout from "../layouts/Layout.astro";
import Footer from "../layouts/Footer.astro";

import HeaderSection from "../components/header-section/header-section.astro";
import PresentationSection from "../components/presentation-section.astro";
import MapSection from "../components/MapSection.astro";
import PartnersSection from "../components/partners-section/PartnersSection.astro";
// import NewsletterSection from "../components/NewsletterSection.astro";
// import ContactSection from "../components/ContactSection.astro";
import TeamSection from "../components/TeamSection.astro";
import ProductsSection from "../components/ProductsSection.astro";
---

<Layout>
  <main>
    <HeaderSection />
    <PresentationSection />
    <TeamSection />
    <MapSection />
    <ProductsSection />
    <!-- <ContactSection /> -->
    <!-- <NewsletterSection /> -->
    <PartnersSection />
    <Footer />
  </main>
</Layout>
