---
import PillButton from "./PillButton.astro";
---

<section
  id="contact"
  class="bg-brand-primary py-10 text-textlight md:py-20"
  aria-labelledby="contact-heading"
>
  <div
    class="mx-auto grid max-w-7xl grid-cols-1 items-center gap-12 px-4 sm:px-6 md:grid-cols-2 md:gap-16 lg:px-8"
  >
    <div class="text-center md:text-left">
      <h2
        id="contact-heading"
        class="mb-4 text-brand-secondary text-3xl font-bold font-mono md:mb-6 md:text-4xl lg:text-5xl"
      >
        Sua jornada com mais controle e rentabilidade começa aqui.
      </h2>
      <p class="mx-auto max-w-xl text-lg text-textlight md:mx-0 md:text-xl">
        Entre em contato e descubra como nossa tecnologia pode transformar a sua
        produção — e o seu negócio.
      </p>
    </div>

    <div class="mx-auto w-full max-w-lg md:mr-0 md:ml-auto">
        <a href="https://tjoyx.share.hsforms.com/2EeHI4jClTlaIpOjVXtDl-A"
            target="_blank"
            aria-label="Entre e contato" >
            <PillButton> Entre em contato </PillButton>
        </a>
    </div>
  </div>
</section>
