---
const styles = {
  white: "bg-background hover:bg-brand-secondary text-brand-primary",
  accent: "bg-accent-two hover:bg-[#DD8200] text-textlight",
  // TODO: scale on hover
  "accent-k": "bg-accent-k text-textlight hover:bg-orange-600",
};

interface Props {
  style?: keyof typeof styles;
}

const { style = "white" } = Astro.props;

const styleCss = styles[style];
---

<button
  class={`bg-opacity-90 hover:bg-opacity-100 text-brand-primary rounded-full px-6 py-4 font-sans font-extrabold tracking-wide uppercase transition-colors duration-500  focus:outline-none text-lg w-full ${styleCss}`}
>
  <slot />
</button>
