---

---

<section id="presentation" class="bg-white py-12 md:py-20">
  <div class="container mx-auto px-4">
    <div class="flex flex-col gap-8 md:flex-row md:items-center md:gap-12">
      <div class="space-y-6 md:w-1/2 text-left">
        <h2
          class="font-mono text-3xl leading-tight font-bold sm:text-4xl lg:text-5xl"
        >
          Nosso propósito é <br class="md:hidden" />
          <span class="text-accent-two">otimizar a sua produção.</span>
        </h2>
      </div>

      <div class="space-y-6 md:w-1/2">
        {
          /* TODO: a outer box with a translate x/y should be able to do the "shadow box" */
        }
        <div class="flex aspect-video items-center justify-center">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/2I5Yt6zI72Y?si=wmzPogFGB5QaGfgy&controls=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            loading="lazy"
            allowfullscreen></iframe>
        </div>

        <p class="text-base text-left">
          Há 5 anos, estamos lado a lado com produtores, cooperativas e tradings
          agrícolas. Vimos de perto o impacto que a falta de dados causa na
          produção e no bolso. <br />
          Foi assim que nasceu a Zeit: para coletar dados, transformar em informações
          e desenvolver soluções eficientes, lucrativas e sustentáveis.
        </p>
      </div>
    </div>
  </div>
</section>
