---

---

<section id="presentation" class="bg-white py-12 md:py-20">
  <div class="container mx-auto px-4">
    <div class="flex flex-col gap-8 md:flex-row md:items-center md:gap-12">
      <div class="space-y-6 md:w-1/2 text-left">
        <h2
          class="font-mono text-3xl leading-tight font-bold sm:text-4xl lg:text-5xl"
        >
          Nosso propósito é <br class="md:hidden" />
          <span class="text-accent-two">otimizar a sua produção.</span>
        </h2>
      </div>

      <div class="space-y-6 md:w-1/2 aspect-video">
        <div
          class="grid grid-cols-1 grid-rows-1 max-w-[560px] max-h-[315px] mx-auto"
        >
          <div
            class="row-start-1 col-start-1 flex rounded-xl z-2 overflow-hidden"
          >
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/2I5Yt6zI72Y?si=wmzPogFGB5QaGfgy&controls=0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              loading="lazy"
              allowfullscreen></iframe>
          </div>

          <div
            class="row-start-1 col-start-1 bg-accent-two scale-90 flex translate-x-1/12 -translate-y-1/12 z-1 rounded-xl"
          >
          </div>
        </div>

        <p class="text-base text-left">
          Há 5 anos, estamos lado a lado com produtores, cooperativas e tradings
          agrícolas. Vimos de perto o impacto que a falta de dados causa na
          produção e no bolso. <br />
          Foi assim que nasceu a Zeit: para coletar dados, transformar em informações
          e desenvolver soluções eficientes, lucrativas e sustentáveis.
        </p>
      </div>
    </div>
  </div>
</section>
