---

---

<section id="presentation" class="bg-white py-12 md:py-20">
  <div class="container mx-auto px-4">
    <div class="flex flex-col gap-8 md:flex-row md:items-center md:gap-12">
      <div class="space-y-6 text-left md:w-1/2">
        <h2
          class="font-mono text-3xl leading-tight font-bold sm:text-4xl lg:text-5xl"
        >
          Nosso propósito é <span class="text-accent-two"
            >otimizar a sua produção.</span
          >
        </h2>
      </div>

      <div class="space-y-6 md:w-1/2">
        <div
          class="mx-auto grid aspect-video max-h-[315px] max-w-[560px] grid-cols-1 grid-rows-1"
        >
          <div
            class="z-2 col-start-1 row-start-1 flex overflow-hidden rounded-xl"
          >
            <iframe
              class="h-full w-full"
              src="https://www.youtube-nocookie.com/embed/2I5Yt6zI72Y?si=xPgJWKan5kvgPqMm&controls=0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              loading="lazy"
              allowfullscreen></iframe>
          </div>

          <div
            class="bg-accent-two z-1 col-start-1 row-start-1 flex translate-x-1/12 -translate-y-1/12 scale-90 rounded-xl"
          >
          </div>
        </div>

        <p class="text-left text-base">
          Há 5 anos, estamos lado a lado com produtores, cooperativas e tradings
          agrícolas. Vimos de perto o impacto que a falta de dados causa na
          produção e no bolso. <br />
          Foi assim que nasceu a Zeit: para coletar dados, transformar em informações
          e desenvolver soluções eficientes, lucrativas e sustentáveis.
        </p>
      </div>
    </div>
  </div>
</section>
