---
import renan_buque from "./team/renan_buque.png";
import paula from "./team/paula.png";
import denilson from "./team/denilson.png";
import andrieli from "./team/andrieli.png";
import joelma from "./team/joelma.png";
import paola from "./team/paola.png";
import jacob from "./team/jacob.png";
import renan_cechin from "./team/renan_cechin.png";
import andriza from "./team/andriza.png";
import lorenzo from "./team/lorenzo.png";
import samuel from "./team/samuel.png";
import gabrielle from "./team/gabrielle.png";
import mel from "./team/mel.png";
import camilly from "./team/camily.png";
import alisson from "./team/alisson.png";
import guilherme from "./team/guilherme.png";

import type { TeamMember } from "../types";
import Carousel from "./Carousel.astro";

const teamMembers: TeamMember[] = [
  {
    name: "Renan Buque Pardinho",
    role: "Cofundador & Diretor Comercial",
    imageUrl: renan_buque,
    linkedinUrl: "https://www.linkedin.com/in/renanbpardinho/",
  },
  {
    name: "Paula Dalla Vecchia",
    role: "Cofundadora & Diretora de Operações",
    imageUrl: paula,
    linkedinUrl: "https://www.linkedin.com/in/paula-dalla-vecchia/",
  },
  {
    name: "Denílson dos Santos Ebling",
    role: "Diretor de Tecnologia",
    imageUrl: denilson,
    linkedinUrl: "https://www.linkedin.com/in/denilson-ebling/",
  },
  {
    name: "Alisson Billing",
    role: "Coordenador de TI",
    imageUrl: alisson,
    linkedinUrl: "https://www.linkedin.com/in/alisson-billig-kroth-a394a2174/",
  },
  {
    name: "Andrieli Stefanello",
    role: "Coordenadora de P&D",
    imageUrl: andrieli,
    linkedinUrl: "https://www.linkedin.com/in/andrieli-stefanello/",
  },
  {
    name: "Gabrielle Sanger",
    role: "Cordenadora de Marketing.",
    imageUrl: gabrielle,
    linkedinUrl: "https://www.linkedin.com/in/gabrielle-sanger-343124196/",
  },
  {
    name: "Joelma Sarturi",
    role: "Coordenadora de Pesquisa Nira",
    imageUrl: joelma,
    linkedinUrl: "https://www.linkedin.com/in/andrieli-stefanello/",
  },
  {
    name: "Renan Cecchin",
    role: "Coordenador de IA",
    imageUrl: renan_cechin,
    linkedinUrl:
      "https://www.linkedin.com/in/renan-de-siqueira-cecchin-62838b231/",
  },
  {
    name: "Guilherme Mohr",
    role: "Desenvolvedor Mobile",
    imageUrl: guilherme,
    linkedinUrl: null,
  },
  {
    name: "João Jacobi",
    role: "Auxiliar de P&D",
    imageUrl: jacob,
    linkedinUrl:
      "https://www.linkedin.com/in/jo%C3%A3o-vitor-jacobi-61626123b/",
  },
  {
    name: "Samuel Dias",
    role: "Desenvolvedor Web",
    imageUrl: samuel,
    linkedinUrl: "https://www.linkedin.com/in/samud03/",
  },
  {
    name: "Andriza Campanhol",
    role: "Bolsista de IA",
    imageUrl: andriza,
    linkedinUrl: "https://www.linkedin.com/in/andrizacampanhol/",
  },
  {
    name: "Camilly Messias",
    role: "Bolsista de Marketing",
    imageUrl: camilly,
    linkedinUrl: null,
  },
  {
    name: "Lorenzo Weber",
    role: "Bolsista de IA",
    imageUrl: lorenzo,
    linkedinUrl: "https://www.linkedin.com/in/lorenzo-weber-520a27218/",
  },
  {
    name: "Mel Ruiz",
    role: "Bolsista de Marketing",
    imageUrl: mel,
    linkedinUrl: "https://www.linkedin.com/in/mel-ruiz-086a48217/",
  },
  {
    name: "Paola Selau",
    role: "Bolsista de P&D",
    imageUrl: paola,
    linkedinUrl: "https://www.linkedin.com/in/paola-oliveira-selau-2b8572266/",
  },
];
---

<section
  id="team"
  class="bg-neutral px-4 py-16 md:py-24 flex justify-center"
  aria-labelledby="team-heading"
>
  <div class="mx-auto max-w-7xl w-full">
    <header class="mb-12 text-center">
      <h2
        id="team-heading"
        class="font-mono text-3xl md:text-4xl lg:text-5xl font-extrabold text-textdark leading-tight mb-4 text-center"
      >
        Quem entende o campo, <span class="text-[#FF6A1A]">faz acontecer.</span>
      </h2>
      <p
        class="mx-auto mt-4 max-w-3xl text-base md:text-lg text-textdark text-center"
      >
        Por trás de cada solução, há um time de especialistas apaixonados pelo
        que fazem.<br />
        Conheça as mentes que estão revolucionando o agro com tecnologia.
      </p>
    </header>

    <Carousel items={teamMembers} />
  </div>
</section>
