---
import WpLogo from "../shared-images/social_whatsapp.svg";
import LogoInstagram from "../shared-images/social_instagram.svg";
import LogoFacebook from "../shared-images/social_facebook.svg";
import LogoLinkedin from "../shared-images/social_linkedin.svg";
import Zeit from "../shared-images/zeit-dark.svg";

const currentYear = new Date().getFullYear();
---

<footer class="bg-white py-10 text-white">
  <div class="container mx-auto px-4 text-center">
    <Zeit width={94} class="mx-auto mb-6 h-12" />
    <p class="mb-6 text-lg text-textdark">
      Copyright &copy; <span id="currentYear">{currentYear}</span> Zeit
    </p>
    <div class="flex justify-center space-x-6">
      <a
        href="https://wa.me/message/MCNLVBUJYSRPO1"
        target="_blank"
        aria-label="WhatsApp"
      >
        <WpLogo height={24} width={24} class="fill-textdark" />
      </a>
      <a
        href="https://www.instagram.com/zeit.ia"
        target="_blank"
        aria-label="Instagram"
      >
        <LogoInstagram height={24} width={24} class="fill-textdark" />
      </a>
      <a
        href="https://www.facebook.com/zeitbr"
        target="_blank"
        aria-label="Facebook"
      >
        <LogoFacebook height={24} width={24} class="fill-textdark" />
      </a>
      <a
        href="https://www.linkedin.com/company/zeitia/"
        target="_blank"
        aria-label="LinkedIn"
      >
        <LogoLinkedin height={24} width={24} class="fill-textdark" />
      </a>
    </div>
  </div>
</footer>
