---
import Zeit from "../shared-images/zeit-dark.svg";

// src/components/Footer.astro
const currentYear = new Date().getFullYear();
---

<footer class="bg-white py-10 text-white">
  <div class="container mx-auto px-4 text-center">
    <Zeit width={94} class="mx-auto mb-6 h-12" />
    <p class="mb-6 text-lg text-gray-400">
      Copyright &copy; <span id="currentYear">{currentYear}</span> Zeit
    </p>
    <div class="flex justify-center space-x-6">
      <a
        href="https://wa.me/yourwhatsappnumber"
        target="_blank"
        aria-label="WhatsApp"
        class="text-white hover:text-gray-300"
      >
        <svg
          class="h-8 w-8 fill-current"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          {/* Replace with actual WhatsApp SVG path */}
          <path
            d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zm3.626 14.195c-.328.05-.68.084-1.042.084-2.122 0-3.844-1.722-3.844-3.844 0-.362.034-.714.084-1.042.222-1.464 1.258-2.617 2.658-3.056.49-.158.986-.248 1.488-.248.868 0 1.696.22 2.378.608.284.156.558.332.812.528.272.216.512.484.72.774.204.29.376.602.508.932.132.33.228.674.288 1.026.06.352.092.708.092 1.064 0 2.122-1.722 3.844-3.844 3.844-.356 0-.708-.032-1.064-.092-.352-.06-.696-.152-1.026-.284-.33-.132-.642-.304-.932-.508-.29-.204-.558-.456-.774-.72-.196-.254-.372-.528-.528-.812-.388-.682-.608-1.51-.608-2.378 0-.502.09-1.002.248-1.488.44-1.4 1.592-2.436 3.056-2.658.328-.05.68-.084 1.042-.084.362 0 .714.034 1.042.084.158.024.316.05.474.084.158.034.316.06.474.084.456.092.884.228 1.28.396.158.068.312.136.462.204.15.068.298.132.444.192.352.148.682.32 1.002.516.312.196.604.408.874.636.262.228.504.472.716.732.208.26.388.54.536.836.148.296.268.604.356.924.088.32.144.648.168.984.024.336.036.672.036 1.012z"
          ></path>
        </svg>
      </a>
      <a
        href="https://www.instagram.com/yourinstagramprofile"
        target="_blank"
        aria-label="Instagram"
        class="text-white hover:text-gray-300"
      >
        <svg
          class="h-8 w-8 fill-current"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          {/* Replace with actual Instagram SVG path */}
          <path
            d="M7.8 2c-2.656 0-3.57.01-4.83.078C1.564 2.146.568 3.14.078 4.37c-.068 1.26-.078 2.174-.078 4.83s.01 3.57.078 4.83c.092 1.228 1.088 2.22 2.37 2.372 1.26.068 2.174.078 4.83.078s3.57-.01 4.83-.078c1.228-.092 2.22-1.088 2.372-2.37 0-1.26.078-2.174.078-4.83s-.01-3.57-.078-4.83c-.092-1.228-1.088-2.22-2.37-2.372C11.372 2.01 10.458 2 7.8 2zm0 1.5c2.518 0 3.376.01 4.542.074 1.054.062 1.55.438 1.838.728.29.29.666.784.728 1.838.064 1.166.074 2.024.074 4.542s-.01 3.376-.074 4.542c-.062 1.054-.438 1.55-.728 1.838-.29.29-.784.666-1.838.728-1.166.064-2.024.074-4.542.074s-3.376-.01-4.542-.074c-1.054-.062-1.55-.438-1.838-.728-.29-.29-.666-.784-.728-1.838-.064-1.166-.074-2.024-.074-4.542s.01-3.376.074-4.542c.062-1.054.438-1.55.728-1.838.29-.29.784-.666 1.838-.728C4.424 3.51 5.282 3.5 7.8 3.5zM12 7a5 5 0 100 10 5 5 0 000-10zm0 1.5a3.5 3.5 0 110 7 3.5 3.5 0 010-7zm5.5-2a1.25 1.25 0 100 2.5 1.25 1.25 0 000-2.5z"
          ></path>
        </svg>
      </a>
      <a
        href="https://www.facebook.com/yourfacebookprofile"
        target="_blank"
        aria-label="Facebook"
        class="text-white hover:text-gray-300"
      >
        <svg
          class="h-8 w-8 fill-current"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          {/* Replace with actual Facebook SVG path */}
          <path
            d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zm2.083 8.358h-1.956v-1.19c0-.498.07-.745.745-.745h1.211V7.545h-1.59c-1.954 0-2.613 1.246-2.613 2.535v1.478H9.375v2.247h1.495v5.441h2.247v-5.441h1.996l.299-2.247z"
          ></path>
        </svg>
      </a>
      <a
        href="https://www.linkedin.com/in/yourlinkedinprofile"
        target="_blank"
        aria-label="LinkedIn"
        class="text-white hover:text-gray-300"
      >
        <svg
          class="h-8 w-8 fill-current"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          {/* Replace with actual LinkedIn SVG path */}
          <path
            d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zm-3.375 16.375h-2.25V9.75h2.25v8.625zm-1.125-9.625c-.75 0-1.375-.625-1.375-1.375S7.75 6 8.5 6s1.375.625 1.375 1.375-.625 1.375-1.375 1.375zm7.875 9.625h-2.25v-4.5c0-1.125-.5-1.5-1.25-1.5-.75 0-1.25.5-1.25 1.5v4.5h-2.25v-5.625h2.25v.75c.375-.625.875-1.125 1.75-1.125 1.25 0 2.25.875 2.25 2.5v3.5z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</footer>
