---
import { Font, getImage } from "astro:assets";

import ogImage from "../shared-images/og_image.png";

import "../styles/global.css";

const optimizedOgImage = await getImage({ src: ogImage, format: "png" });
---

<!doctype html>
<html lang="pt-BR" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <link rel="canonical" href={Astro.site} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content="O futuro da sua produção começa com uma decisão agora."
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="facebook-domain-verification"
      content="hk6kwwrvcr5f931i9fyxwqb288iz7x"
    />
    <title>Zeit</title>

    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:url" content={Astro.site} />
    <meta
      property="og:title"
      content="Zeit - Inteligência Artificial para o Agronegócio"
    />
    <meta
      property="og:description"
      content="Descubra como a tecnologia pode salvar a sua lavoura"
    />
    <meta property="og:image" content={optimizedOgImage.src} />
    <meta property="og:site_name" content="Zeit" />

    <Font cssVariable="--font-nunito" preload />
    <Font cssVariable="--font-fragment" preload />

    <link rel="preconnect" href="https://www.clarity.ms" />
    <!-- Google Tag Manager -->
    <script is:inline type="text/javascript">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KQW2L5XH');</script>
    <!-- End Google Tag Manager -->
    <script is:inline type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "syu1zzgffb");
    </script>
  </head>
  <body class="bg-white">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQW2L5XH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
