---
import { Font } from "astro:assets";

import "../styles/global.css";
---

<!doctype html>
<html lang="pt-BR" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="O futuro da sua produção começa com uma decisão agora." />
    <title>Zeit</title>

    <Font cssVariable="--font-nunito" preload />
    <Font cssVariable="--font-fragment" preload />
  </head>
  <body class="bg-white">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
